extends header
block scripts
	link(rel='stylesheet', href='/css/body.css')

block content
	section#postsWrapper
		div.postList
			a(href='/view')
				div.postInfo
					img(src='/resource/slide.jpg')
					div.overlay
					div.postSubTitle 카테고리
					div.postTitle 제목
					div.postContent 글 내용입니다. 글 내용입니다. 글 내용입니다. 글 내용입니다. 글 내용입니다.
					div.postDetail
						i(class='fa fa-folder-open', aria-hidden='true')
							span 개발
						i(class='fa fa-calendar-check-o', aria-hidden='true') 
							span 2017-01-01
						i(class='fa fa-eye', aria-hidden='true')
							span 100
			a(href='/view')
				div.postInfo
					img(src='/resource/slide.jpg')
					div.overlay
					div.postSubTitle 카테고리
					div.postTitle 제목
					div.postContent 글 내용입니다. 글 내용입니다. 글 내용입니다. 글 내용입니다. 글 내용입니다.
					div.postDetail
						i(class='fa fa-folder-open', aria-hidden='true')
							span 개발
						i(class='fa fa-calendar-check-o', aria-hidden='true') 
							span 2017-01-01
						i(class='fa fa-eye', aria-hidden='true')
							span 100
			a(href='/view')
				div.postInfo 
					img(src='/resource/slide.jpg')
					div.overlay
					div.postSubTitle 카테고리
					div.postTitle 제목
					div.postContent 글 내용입니다. 글 내용입니다. 글 내용입니다. 글 내용입니다. 글 내용입니다.
					div.postDetail
						i(class='fa fa-folder-open', aria-hidden='true')
							span 개발
						i(class='fa fa-calendar-check-o', aria-hidden='true') 
							span 2017-01-01
						i(class='fa fa-eye', aria-hidden='true')
							span 100
			a(href='/view')
				div.postInfo
					img(src='/resource/slide.jpg')
					div.overlay
					div.postSubTitle 카테고리
					div.postTitle 제목
					div.postContent 글 내용입니다. 글 내용입니다. 글 내용입니다. 글 내용입니다. 글 내용입니다.
					div.postDetail
						i(class='fa fa-folder-open', aria-hidden='true')
							span 개발
						i(class='fa fa-calendar-check-o', aria-hidden='true') 
							span 2017-01-01
						i(class='fa fa-eye', aria-hidden='true')
							span 100
			a(href='/view')
				div.postInfo 
					img(src='/resource/slide.jpg')
					div.overlay
					div.postSubTitle 카테고리
					div.postTitle 제목
					div.postContent 글 내용입니다. 글 내용입니다. 글 내용입니다. 글 내용입니다. 글 내용입니다.
					div.postDetail
						i(class='fa fa-folder-open', aria-hidden='true')
							span 개발
						i(class='fa fa-calendar-check-o', aria-hidden='true') 
							span 2017-01-01
						i(class='fa fa-eye', aria-hidden='true')
							span 100
		div.userInfo
			img(src='/resource/slide.jpg')
			h2 antiweb
			p 불쌍한 웹 개발자. 불쌍한 웹 개발자. 불쌍한 웹 개발자.
			p 노예.