#footer
	height 2em
	background-color #262525
	padding 1em 3em
	opacity 0.6
	border 0
	span
		color #FFF
		opacity 1
		font-size 1.2em
		font-weight 600
		margin .5em
@media (max-width: 1366px)
	#footer
		padding 1em 1em
@media (max-width: 900px), (max-device-width: 900px)
	#footer
		padding 1em 0
